@use "../variables" as *;

.booking-gallery-cta {
    position: relative;
    background-color: #fff;
    padding: 40px 0;

    .container {
        min-height: 600px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .bgc-background {
        position: absolute;
        top: 40px;
        height: calc(100% - 80px);
        left: 0;
        width: 100%; // The dark background covers 80% of the screen
        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.3); // Darken for text readability
        }
    }
    .btn-wrapper {
        margin-top: 40px;
        // width: 280px;
        a {
            font-weight: 500;
            min-width: 280px;

            display: inline-flex;
            justify-content: space-between;
            text-align: center;
            padding: 16px 20px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            letter-spacing: 5%;
            background-color: var(--color-gray);

            color: var(--color-primary);
            align-items: center;
            gap: 58px;

            &:hover {
                background-color: var(--color-primary);
                color: #fff;
            }
        }
    }
    .left-text-part {
        padding: 175px 0;
        z-index: 2;
        max-width: 500px;
    }
    h2 {
        font-size: 28px;
        line-height: 40px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 40px;
    }

    .right-image-part {
        width: 930px;
        min-width: 900px;
        height: 600px;
        position: absolute;
        right: 20px;
        z-index: 1;
        img {
            position: absolute;
        }
    }
    .bgc-img-1 {
        bottom: -40px;
        left: 0;
        width: 255px;
        height: 255px;
    }
    .bgc-img-2 {
        top: 80px;
        left: 295px;
        width: 340px;
        height: 440px;
    }
    .bgc-img-3 {
        top: -40px;
        right: 0px;
        width: 255px;
        height: 255px;
    }
    .bgc-img-4 {
        bottom: -40px;
        right: 0px;
        width: 255px;
        height: 312px;
    }

    @media (max-width: 1250px) {
        padding: 0;
        .bgc-background {
            top: 0;
            height: 100%;
        }
        .right-image-part {
            display: none;
        }
        .container {
            min-height: 320px;
        }
        .left-text-part {
            padding: 95px 0;
            max-width: 100%;
        }
        h2 {
            font-size: 20px;
            line-height: 32px;
        }
    }

    @media (max-width: 540px) {
        .left-text-part {
            padding: 82px 0;
        }
    }
}
