.mobile-header {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 60;
    background-color: #fff;
    border-bottom: 1px solid var(--color-gray);

    @media (min-width: 1024px) {
        display: none;
    }

    .mobile-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 1rem;
        height: 60px;
        height: 72px;
    }

    .mobile-menu-toggle {
        background: none;
        border: none;
        color: var(--color-primary);
        cursor: pointer;
        padding: 0.5rem;
        width: 64px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #ebebeb;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .booking-link {
        width: 64px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #ebebeb;
    }

    .mobile-logo {
        flex: 1;
        display: flex;
        justify-content: center;

        a {
            display: inline-block;
        }

        img {
            max-height: 40px;
            width: auto;
        }
    }

    .mobile-top-bar-spacer {
        width: 40px; /* same width as toggle to center logo */
    }

    .mobile-nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-gray);
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 70;

        &.is-open {
            transform: translateX(0);
        }
    }

    .mobile-nav-header {
        display: flex;
        justify-content: flex-end;
        height: 72px;
        border-bottom: 1px solid #d5d1cf;
    }

    .mobile-menu-close {
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        border-left: 1px solid #d5d1cf;
        color: var(--color-primary);
        cursor: pointer;

        svg {
            width: 28px;
            height: 28px;
        }
    }

    .mobile-nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mobile-nav-item {
        border-bottom: 1px solid #d5d1cf;
    }

    .mobile-nav-link-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 20px;
    }

    .mobile-nav-link {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        font-family: var(--font-heading);
        color: var(--color-accent);
        text-transform: uppercase;
        letter-spacing: 10%;
        text-decoration: none;
        flex: 1;
    }

    .mobile-submenu-toggle {
        background: none;
        border: none;
        color: var(--color-primary);
        cursor: pointer;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease;
        }
    }

    .mobile-submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        // background-color: #f9fafb;
        display: none;
        grid-template-columns: 1fr;
        gap: 24px;
        padding-bottom: 24px;
        padding-left: 20px;
    }
    .mobile-nav-item.submenu-open {
        background-color: #dad6d4;
    }
    .mobile-nav-item.submenu-open {
        border-bottom: 0 !important;
    }

    .mobile-nav-item.submenu-open .mobile-submenu {
        display: grid;
    }

    .mobile-submenu-item {
        // border-top: 1px solid var(--color-gray);
    }

    .mobile-submenu-link {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: var(--color-primary);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
    }
}

.desktop-header {
    @media (max-width: 1023px) {
        display: none;
    }
}
