.quote-slider-section {
    padding: 100px 0;
    background-color: var(--color-gray);
    position: relative;
    margin: 100px 0 0 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .quote-slider-wrapper {
        margin: 0 auto;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
    }

    .quote-slider-carousel {
        width: 100%;
    }

    @media (max-width: 767px) {
        margin: 56px 0 0 0;
        padding: 40px 0 80px 0;
        .container {
            padding: 0;
        }
    }
}
.quote-slider-item {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    color: #fff;
    .blockquote {
        max-width: 680px;
    }

    .quote-slider-detail {
        line-height: 1.6;
        margin: 0 0 24px 0;
        letter-spacing: 5%;
        font-size: 16px;
        line-height: 28px;
    }

    .quote-slider-person {
        font-size: 16px;
        display: block;
        font-size: 1.125rem;
        letter-spacing: 5%;
        opacity: 0.5;
        font-style: normal;
        text-transform: uppercase;
    }
    @media (max-width: 767px) {
        padding: 0 20px;
        .quote-slider-detail {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 24px;
        }
        .quote-slider-person {
            font-size: 14px;
        }
    }
}

/* Make only the active slide fully visible */
.quote-slider-item.is-selected {
    opacity: 1;
}

.quote-slider-content {
    max-width: 700px;
    margin: 0 auto;
}

/* Flickity customizations for this specific slider */
.quote-slider-section .flickity-button {
    background: var(--color-primary);
    color: var(--color-primary);
    transition: all 0.3s ease;

    &:hover {
        background: var(--color-secondary);
        // color: var(--color-secondary);

        .flickity-button-icon {
            // stroke: var(--color-secondary);
        }
    }

    .flickity-button-icon {
        fill: none !important;
        stroke: #fff;
        stroke-width: 9.375;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: all 0.3s ease;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.quote-slider-section .flickity-prev-next-button {
    width: 44px;
    height: 44px;
}

.quote-slider-section .flickity-page-dots {
    bottom: -30px;
    @media (max-width: 767px) {
        bottom: -40px;
    }
}

.quote-slider-section .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    transition: all 0.3s ease;
    border: 2px solid #fff;
    background-color: transparent;

    &.is-selected {
        opacity: 1;
        background: #fff;
        transform: scale(1.2);
    }
}
