.zayn-experience-home {
    margin: 100px 0;

    .logo-wrapper {
        background-color: var(--color-primary);
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 40px;
        padding: 5px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }
    .text-content {
        flex: 1;
        min-width: 500px;
        max-width: 500px;

        h2 {
            font-family: var(--font-heading);
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 5%;
            color: #051c18;
            margin-bottom: 40px;
        }

        p {
            color: var(--color-primary);
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 5%;
            line-height: 24px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .image-content {
        max-width: calc(440px + 190px);
        flex: 1;
        position: relative;
        padding-right: 190px;
        .pattern-image {
            position: absolute;
            right: 0;
            top: calc(50% - 190px);
            width: 380px;
            height: 380px;
        }

        .right-image {
            width: 440px;
            height: auto;
            object-fit: cover;
            min-width: 440px;
            min-width: 440px;
            z-index: 2;
            position: relative;
        }

        .about-image {
        }
    }

    .btn-wrapper {
        margin-top: 40px;
        a {
            font-weight: 500;

            display: inline-flex;
            text-align: center;
            padding: 16px 20px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            letter-spacing: 5%;
            background-color: var(--color-gray);

            color: var(--color-primary);
            align-items: center;
            gap: 94px;

            &:hover {
                background-color: var(--color-primary);
                color: #fff;
            }
        }
    }
    // @media (max-width: $tab-breakpoint) {
    //     .content {
    //         flex-direction: column-reverse;
    //         gap: 32px;
    //     }
    // }

    @media (max-width: 811px) {
        margin: 56px 0;
        .content {
            flex-direction: column-reverse;
            gap: 32px;
        }
        .image-content {
            position: relative;
            height: 350px;
            width: 350px;
            max-height: 350px;
            min-width: 350px;
            min-height: 350px;
            padding: 0;
            .pattern-image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .right-image {
                min-width: unset;
                position: absolute;
                left: 35px;
                top: 35px;
                width: calc(100% - 70px);
                max-width: calc(100% - 70px);
                height: calc(100% - 70px);
            }
        }
        .text-content {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            h2 {
                line-height: 1.2;
                margin-bottom: 32px;
                font-size: 20px;
            }
        }
        .logo-wrapper {
            margin-bottom: 32px;
        }
        .btn-wrapper {
            margin-top: 32px;
        }
    }
    // @media (max-width: 811px) {
    @media (max-width: 540px) {
        // @media (max-width: $tab-breakpoint) {
        margin: 56px 0;
        .content {
            flex-direction: column-reverse;
            gap: 32px;
        }

        .image-content {
            // padding: 35px;
            position: relative;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            padding-bottom: 98%;

            .pattern-image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .right-image {
                // width: 100%;
                // height: 100%;
                // min-width: 100%;
            }
        }
        .text-content {
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        .logo-wrapper {
            margin-bottom: 32px;
        }
        h2 {
            margin-bottom: 32px;
            font-size: 20px;
            line-height: 30px;
        }
        p {
            margin-bottom: 32px;
            font-size: 14px;
        }
        .btn-wrapper {
            margin-top: 32px;
            a {
                font-weight: 500;
                min-width: 280px;
            }
        }
    }
}
