.all-treatment-display-section {
    margin: 100px 0;

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 53px;
        row-gap: 80px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}
