.product-listing {
    margin-bottom: 100px;

    .title-part {
        display: flex;
        align-items: center;
        margin-bottom: 64px;

        a {
            font-size: 12px;
            font-weight: 500;
            margin-left: 32px;

            line-height: 16px;

            color: var(--color-primary);
            letter-spacing: 5%;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.8;
        color: #051c18;
        letter-spacing: 5%;
        text-transform: uppercase;
    }

    .product-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 53px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
            display: block;

            &:after {
                content: "flickity";
                display: none;
            }
            .product-item {
                padding: 0 8px;
            }

            > * {
                // width: 80%;
                // margin-right: 16px;
            }
        }
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 20px;
        }
        .title-part {
            padding: 0 20px;
            justify-content: space-between;
            margin-bottom: 48px;
        }
        .container {
            padding: 0;
        }
    }
}

.each-product-card {
    text-align: center;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 100% !important;
        margin-bottom: 20px;
        height: 280px;
        object-fit: cover;
    }
    h4 {
        font-size: 16px;

        font-weight: 400;
        font-family: var(--font-body);
        line-height: 1.4;
        color: #051c18;
        letter-spacing: 5%;
        margin-bottom: 8px;
    }

    .price-wrapper {
        color: #808080;
        font-size: 16px;
    }
}
