.services-cta-home-section {
    margin: 64px 0 100px 0;
    .cta-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @media (max-width: 767px) {
            display: block;

            &:after {
                content: "flickity";
                display: none;
            }
        }
    }

    .cta-item {
        min-height: 280px;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        a {
            padding: 8px 20px;
            letter-spacing: 5%;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            z-index: 2;
            position: relative;
        }
    }

    @media (max-width: 767px) {
        margin: 40px 0;

        .cta-item {
            width: 80%;
            margin-right: 16px;
        }
        .container {
            padding: 0;
        }
    }
}
