@use "fonts";
@use "components/main-navigation";
@use "components/footer";
@use "components/banner-home";
@use "components/services-cta-home";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #006d57;
        --color-secondary: #81412a;
        --color-accent: #051c18;
        --color-gray: #eae6e4;

        --font-din-ot: "D-DIN", sans-serif;
        --font-brooklyn: "Brooklyn", sans-serif;

        --font-body: "D-DIN", sans-serif;
        --font-heading: "Brooklyn", sans-serif;
    }
}

@layer components {
    .container {
        margin-inline: auto;
        padding-inline: 20px;
        max-width: 1320px;
        width: 1320px;
    }
    .btn-gray {
        color: var(--color-primary);
        background-color: var(--color-gray);
        text-transform: uppercase;
        font-family: var(--font-body);
        transition: background-color 0.1s ease-in-out;
        font-weight: 500;

        &:hover {
            color: #fff;
            background-color: var(--color-secondary);
        }
    }
}

/* Add your custom SCSS here */

body {
}
