@font-face {
  font-family: "D-DIN";
  src: url("../fonts/d-din-font-family/D-DIN.woff2") format("woff2"), url("../fonts/d-din-font-family/D-DIN.woff") format("woff"), url("../fonts/d-din-font-family/D-DIN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "D-DIN";
  src: url("../fonts/d-din-font-family/D-DIN-Italic.woff2") format("woff2"), url("../fonts/d-din-font-family/D-DIN-Italic.woff") format("woff"), url("../fonts/d-din-font-family/D-DIN-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "D-DIN";
  src: url("../fonts/d-din-font-family/D-DIN-Bold.woff2") format("woff2"), url("../fonts/d-din-font-family/D-DIN-Bold.woff") format("woff"), url("../fonts/d-din-font-family/D-DIN-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20Normal%201.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20Normal%201.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20Italic.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20SemiBold.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20SemiBoldItalic.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20Bold%201.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20Bold%201.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20BoldItalic.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20Heavy%201.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20Heavy%201.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brooklyn";
  src: url("../fonts/Brooklyn/Brooklyn%20HeavyItalic.otf") format("opentype"), url("../fonts/Brooklyn/Brooklyn%20HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.desktop-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}
.desktop-header .top-message {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 5%;
  background-color: var(--color-accent);
  color: #fff;
  text-align: center;
  padding: 12px 10px;
  border-radius: 0rem;
  font-family: var(--font-body);
}

footer {
  padding-top: 64px;
}
footer *,
footer a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 5%;
}
footer h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 10%;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}
footer ul a {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
  color: var(--color-primary);
  margin-bottom: 12px;
  text-transform: uppercase;
}
footer .copyright-section {
  background-color: #eae6e4;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright-section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright-section .left-part {
  display: flex;
  align-items: center;
}
footer .copyright-section .site-name {
  margin-right: 48px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: #006d57;
    --color-secondary: #81412a;
    --color-accent: #051c18;
    --font-din-ot: "D-DIN", sans-serif;
    --font-brooklyn: "Brooklyn", sans-serif;
    --font-body: "D-DIN", sans-serif;
    --font-heading: "Brooklyn", sans-serif;
  }
}
@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 20px;
    max-width: 1320px;
    width: 1320px;
  }
  .btn-primary {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 0rem;
    padding: 16px 24px;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.25;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0.1em;
    user-select: none;
    border: 1px solid transparent;
    font-family: var(--font-heading);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    will-change: background-color, border-color, box-shadow;
    box-shadow: -8px 8px 0px #4d0a0d;
  }
  .btn-primary:hover {
    box-shadow: 0px 0px 0px 4px var(--color-secondary);
  }
}
/* Add your custom SCSS here */
body .site-content {
  min-height: 50vh;
}

.mobile-menu-overlay {
  background-color: var(--color-primary);
}

.carousel-black-container .carousel-black-cell {
  width: 25%;
  height: 500px;
  display: flex;
  align-items: center;
}
.carousel-black-container .carousel-black-cell img {
  object-fit: cover;
}
.carousel-black-container .img-wrapper {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.carousel-black-container .img-wrapper img {
  width: 100%;
  height: 350px;
}
.carousel-black-container .img-wrapper.even img {
  height: 500px !important;
}
@media screen and (max-width: 768px) {
  .carousel-black-container .carousel-black-cell {
    width: 85%;
    height: 400px;
  }
  .carousel-black-container .img-wrapper {
    padding: 0 10px;
  }
  .carousel-black-container .img-wrapper img {
    height: 350px;
  }
  .carousel-black-container .img-wrapper.even img {
    height: 400px !important;
  }
}

/*# sourceMappingURL=main.css.map */
